/* variables */
:root {
  --primary: #ffc636;
  --secondary: #0a0b5b;
}

/* reset */
body,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

li {
  list-style: none;
}

/* base style */
body {
  background-color: var(--secondary);
  overflow-x: hidden;
  font-family: 'Rubik Regular';
}

.button {
  background: none;
  border: 2px solid var(--primary);
  color: var(--primary);
  padding: 6px 12px;
  border-radius: 20px;
  text-transform: uppercase;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
  display: inline-block;
}

.button:hover {
  color: #222;
  background: var(--primary);
}

input,
textarea {
  background: rgba(255, 255, 255, 0.05);
  padding: 10px 16px;
  border-radius: 20px;
  border: 2px solid #9893d8;
  color: #f2f2f2;
}

/* fonts */
@font-face {
  font-family: 'Rubik Regular';
  src: url('assets/fonts/Rubik-Regular.ttf');
}

h1,
h2,
h3,
h4 {
  color: #dddbff;
  font-weight: normal;
}

p,
a,
li {
  color: #9893d8;
}

h1,
h3 {
  font-size: 1.2em;
}

h2 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.1em;
}

.leading {
  font-size: 1.1em;
}
/* mobile style */

/* Grid */
.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
}

.site-nav,
#welcome,
#portfolio,
#skills {
  padding: 0 20px;
}

/* Nav */
.site-nav h1 {
  grid-column: span 3;
}

.site-nav ul {
  display: none;
}

/* Welcome */
#welcome .welcome-text {
  grid-column: span 5;
}

#welcome .welcome-img {
  grid-column: span 3;
}

#welcome .welcome-img img {
  width: 200%;
}

#welcome .welcome-text p.leading {
  margin-bottom: 20px;
}

/* Portfolio */
#portfolio h3 {
  text-align: center;
  padding-bottom: 20px;
}

#portfolio .projects a {
  grid-column: span 8;
  display: flex;
  align-items: center;
}

#portfolio img {
  width: 40%;
  margin-right: 20px;
  margin-bottom: 20px;
}

/* Skills */
#skills h3 {
  text-align: center;
  padding-bottom: 20px;
}

#skills .grid li {
  grid-column: span 4;
  text-align: center;

  /* justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; */
}

#skills img {
  height: 80px;
  margin: 10px auto;
}
